<div id="title">

    <h1>{{title}}</h1>
           
    <h2>{{subtitle}}</h2>
    <p id="web">{{web}}</p>
    <p id="email">{{email}}</p>

</div>

<article class="about-class">
    <h2>Acerca de Mí:</h2>
    <p>
        Existen muchos ingenieros de sistemas y computación con diferentes habilidades, tanto blandas como técnicas, pero pocos perfiles se destacan
        por tener habilidades híbridas asociadas con soporte técnico y consultoría en IT, capacitación de personal y manejo de equipos de trabajo.
        
        En mis mas de 10 años de experiencia como ingeniero en computación, he tenido la oportunidad de participar en diferentes proyectos de análisis,
        diseño e implementación de software en diferentes industrias, Banca, Call Center, Salud y otros, aportando valor agregado a las empresas con mis
        conocimientos de manera creativa, dinámica y proactiva, innovando y generando soluciones por iniciativa propia para la resolución de problemas y 
        toma de decisiones, siempre destacándome por asumir nuevos retos y aprender rápidamente nuevas tecnologías en un entorno altamente cambiante.

        En mi apasionamiento por la Computación, La Ciberseguridad y el Comercio Electrónico he logrado destacarme por:

        Habilidades Blandas:
  
       
        •	Resolución Colaborativa de Problemas
        •	Servicio al Cliente
        •	Gestión del Tiempo
        •	Gestión del Cambio
        •	Productividad Personal
        •	Inteligencia Emocional
        •	Español Nativo C2+ e Inglés Intermedio B1
        
        
        Habilidades Técnicas:
        
        •	FRAMEWORKS Y TECNOLOGÍAS DE PROGRAMACIÓN: Asp.Net, .Net Core, .Net Framework, Node.js
                Laravel (PHP), CMS WordPress, CMS Moodle (LMS), Angular, Tailwind, BootStrap.
        
        •	TECNOLOGÍAS FRONT-END: Html5, CSS3, JavaScript, JQuery, JQuery UI, Ajax.
        
        •	FRAMEWORKS Y TECNOLOGÍAS BACK-END: C#, PHP(Laravel), Node.js.
        
        •	MANEJO Y TRANSPORTE DE DATA: JSON, XML
        
        •	METODOLOGIAS ÁGILES: Profesor Universitario Análisis y Diseño de Software. Scrum y Kanban.
        
        •	MANEJO Y CONFIGURACIÓN DE SERVIDORES: IIS en Azure, otros servidores de uso abierto 
                Nginx, Apache,Vultr, Digital Ocean, AWS.
        
        •	SISTEMAS OPERATIVOS: Windows y Linux
        
        •	CONTENEDORES: Docker, Kubernetes.
        
        •	MANEJO Y CONTROL DE VERSIONES: Git y GitHub 
        
        •	SERVICIOS WEB, API REST (Microservices). 
        
        •	SISTEMAS PARA GESTIÓN DE BASES DE DATOS: (SQL Server(SP, Function, SQL), 
                PostgreSQL(Triggers), MySQL), MariaDB. - NO Sql: MongoDB.
        
    </p>

</article>